<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>みんはや - ホーム画面</title>
	<link rel="stylesheet" href="/static/App_Folder_css/home.css">
	<link href="https://assets.adobe.com/id/urn:aaid:sc:AP:65a872fd-cfd2-4305-b92e-6d89b3c7c024?view=published" rel="stylesheet">
</head>
<body>
	<header>
		<h1><a href="#">
			<div style="text-align: center">
			<img src="/static/images/image (18).png" alt="">
			</div>
		</a></h1>
	</header>
	<main>
		<h2>クイズに挑戦しよう！</h2>
		<form method="POST">
			<button onclick="location.href='./match.html'">対戦を始める</button>
		</form>
	</main>
	<footer>
		<p>&copy; 2023 me-ask?</p>
	</footer>
</body>
</html>
