/* style.css */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: white;
}

header {
	background-color: pink;
	color: white;
	padding: 10px;
}

h1 {
	margin: 0 auto;
	width: 100%;
	height: 160px;
}

main {
	text-align: center;
	padding: 50px;
}

h2 {
	margin-top: 5;
}

button {
	padding: 10px 20px;
	border: none;
	background-color: red;
	color: white;
	font-size: 24px;
	cursor: pointer;
}

button:hover {
	background-color: pink;
}

.result-box {
	display: inline-block;
	background-color: #E0E0E0;
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
}

.score {
	font-size: 48px;
	margin-top: 0;
}


footer {
	text-align: center;
	padding: 0px;
	background-color: pink;
	color: white;
	position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
	width: 100%;
}

@media screen and (max-width: 768px) {
    p{
        background-color: pink;
         color:white;
     }
 }
 
 @media screen and (max-width: 480px) {
    p{
        background-color: pink;
         color:white;
     }
 }