<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>みんはや - リザルト画面</title>
	<link rel="stylesheet" href="../static/css/correct.css">
</head>
<body>
	<header><h1>
		<a href="#">
			<div style="text-align: center">
			<img class="pc" src="../static/images/image (17).png" alt="">
			</div></a></h1>
			
	</header>
	<main>
		<h2>
			<div style="text-align: center">
				<img src="../static/images/image (20).png" alt="">
			</div>
		</h2>
		<form method="POST" action="/match">
			<button type="submit">次へ</button>
		</form>
        
	</main>
	<footer>
		<p>&copy; 2023 me-ask?</p>
	</footer>
</body>
</html>