<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>me-ask? - 誤答画面</title>
	<link rel="stylesheet" href="../static/css/incorrect.css">
</head>
<body>
	<header>
		<h1>
			<a href="#">
				<div style="text-align: center">
					<img src="../static/images/image (17).png" alt="">
				</div>
			</a>
		</h1>	
	</header>
	<main>
		<h2>
			<div style="text-align: center">
				<img src="../static/images/image (21).png" alt="">
			</div>
		</h2>
        <h3>正解は...</h3>
        <p></p>
		<form method="POST" action="/match">
			<button type="submit">次へ</button>
	</main>
	<footer>
		<p>&copy; 2023 me-ask?</p>
	</footer>
</body>
</html>