<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>みんはや - リザルト画面</title>
	<link rel="stylesheet" href="../static/css/match.css">
</head>
<body>
	<header><h1>
		<a href="#">
			<div style="text-align: center">
			<img src="../static/images/image (17).png" alt="">
			</div></a></h1>
			
	</header>
	<main>
		<h2>不正解！</h2>
        <h3>正解は...</h3>
        <p></p>
		<form method="POST" action="/match">
			<button type="submit">次へ</button>
	</main>
	<footer>
		<p>&copy; 2023 me-ask?</p>
	</footer>
</body>
</html>